// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Rows extends APIResource {
  /**
   * Update an inference data point in an inference pipeline.
   *
   * @example
   * ```ts
   * const row = await client.inferencePipelines.rows.update(
   *   '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
   *   {
   *     inferenceId: 'inferenceId',
   *     row: {},
   *   },
   * );
   * ```
   */
  update(
    inferencePipelineID: string,
    params: RowUpdateParams,
    options?: RequestOptions,
  ): APIPromise<RowUpdateResponse> {
    const { inferenceId, ...body } = params;
    return this._client.put(path`/inference-pipelines/${inferencePipelineID}/rows`, {
      query: { inferenceId },
      body,
      ...options,
    });
  }

  /**
   * A list of rows for an inference pipeline.
   *
   * @example
   * ```ts
   * const rows = await client.inferencePipelines.rows.list(
   *   '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
   * );
   * ```
   */
  list(
    inferencePipelineID: string,
    params: RowListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<RowListResponse> {
    const { asc, page, perPage, sortColumn, ...body } = params ?? {};
    return this._client.post(path`/inference-pipelines/${inferencePipelineID}/rows`, {
      query: { asc, page, perPage, sortColumn },
      body,
      ...options,
    });
  }
}

export interface RowUpdateResponse {
  success: true;
}

export interface RowListResponse {
  items: Array<RowListResponse.Item>;
}

export namespace RowListResponse {
  export interface Item {
    openlayer_row_id: number;
  }
}

export interface RowUpdateParams {
  /**
   * Query param: Specify the inference id as a query param.
   */
  inferenceId: string;

  /**
   * Body param
   */
  row: unknown;

  /**
   * Body param
   */
  config?: RowUpdateParams.Config | null;
}

export namespace RowUpdateParams {
  export interface Config {
    /**
     * Name of the column with the ground truths.
     */
    groundTruthColumnName?: string | null;

    /**
     * Name of the column with human feedback.
     */
    humanFeedbackColumnName?: string | null;

    /**
     * Name of the column with the inference ids. This is useful if you want to update
     * rows at a later point in time. If not provided, a unique id is generated by
     * Openlayer.
     */
    inferenceIdColumnName?: string | null;

    /**
     * Name of the column with the latencies.
     */
    latencyColumnName?: string | null;

    /**
     * Name of the column with the timestamps. Timestamps must be in UNIX sec format.
     * If not provided, the upload timestamp is used.
     */
    timestampColumnName?: string | null;
  }
}

export interface RowListParams {
  /**
   * Query param: Whether or not to sort on the sortColumn in ascending order.
   */
  asc?: boolean;

  /**
   * Query param: The page to return in a paginated query.
   */
  page?: number;

  /**
   * Query param: Maximum number of items to return per page.
   */
  perPage?: number;

  /**
   * Query param: Name of the column to sort on
   */
  sortColumn?: string;

  /**
   * Body param
   */
  columnFilters?: Array<
    RowListParams.SetColumnFilter | RowListParams.NumericColumnFilter | RowListParams.StringColumnFilter
  > | null;

  /**
   * Body param
   */
  excludeRowIdList?: Array<number> | null;

  /**
   * Body param
   */
  notSearchQueryAnd?: Array<string> | null;

  /**
   * Body param
   */
  notSearchQueryOr?: Array<string> | null;

  /**
   * Body param
   */
  rowIdList?: Array<number> | null;

  /**
   * Body param
   */
  searchQueryAnd?: Array<string> | null;

  /**
   * Body param
   */
  searchQueryOr?: Array<string> | null;
}

export namespace RowListParams {
  export interface SetColumnFilter {
    /**
     * The name of the column.
     */
    measurement: string;

    operator: 'contains_none' | 'contains_any' | 'contains_all' | 'one_of' | 'none_of';

    value: Array<string | number>;
  }

  export interface NumericColumnFilter {
    /**
     * The name of the column.
     */
    measurement: string;

    operator: '>' | '>=' | 'is' | '<' | '<=' | '!=';

    value: number | null;
  }

  export interface StringColumnFilter {
    /**
     * The name of the column.
     */
    measurement: string;

    operator: 'is' | '!=';

    value: string | boolean;
  }
}

export declare namespace Rows {
  export {
    type RowUpdateResponse as RowUpdateResponse,
    type RowListResponse as RowListResponse,
    type RowUpdateParams as RowUpdateParams,
    type RowListParams as RowListParams,
  };
}
